@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed:wght@300;400&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto;
}

/* https://m3.material.io/theme-builder#/custom */
:root {
  /* Light theme */
  --primary: #006a66;
  --on-primary: #ffffff;
  --primary-container: #70f7f0;
  --on-primary-container: #00201e;
  --secondary: #4a6361;
  --on-secondary: #ffffff;
  --secondary-container: #cce8e5;
  --on-secondary-container: #051f1e;
  --tertiary: #49607b;
  --on-tertiary: #ffffff;
  --tertiary-container: #d0e4ff;
  --on-tertiary-container: #011d34;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --background: #fafdfb;
  --on-background: #191c1c;
  --outline: #6f7978;
  --surface: #fafdfb;
  --on-surface: #191c1c;
  --surface-variant: #dae5e3;
  --on-surface-variant: #3f4948;

  /* Dark theme */
  --dark-primary: #4edad3;
  --dark-on-primary: #003735;
  --dark-primary-container: #00504d;
  --dark-on-primary-container: #70f7f0;
  --dark-secondary: #b0ccc9;
  --dark-on-secondary: #1b3533;
  --dark-secondary-container: #324b49;
  --dark-on-secondary-container: #cce8e5;
  --dark-tertiary: #b0c9e7;
  --dark-on-tertiary: #19324a;
  --dark-tertiary-container: #314962;
  --dark-on-tertiary-container: #d0e4ff;
  --dark-error: #ffb4ab;
  --dark-on-error: #690005;
  --dark-error-container: #93000a;
  --dark-on-error-container: #ffdad6;
  --dark-background: #191c1c;
  --dark-on-background: #e0e3e2;
  --dark-outline: #889391;
  --dark-surface: #191c1c;
  --dark-on-surface: #e0e3e2;
  --dark-surface-variant: #3f4948;
  --dark-on-surface-variant: #bec9c7;
}

html, body, #root {
  width: 100%;
  height: 100%;
}